:root {
    --primary-color: #2196F3;
    --secondary-color: #FFFFFF;

    --primary-text-color: #757575;
    --title-color: #212121;
    --address-color: #ffffff60;
    --btn-hover: #188CE8;
    --slider-color: #2F303A;
    --cards-section-color: #F5F4FA;
    --header-border-color: #ECECEC;
}

/* Общие стили */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.box {
    width: 1600px;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.list {
    list-style: none;
}
.section {
    padding-top: 94px;
}
/* Header options */
.line {
    width: 1600px;
    border-bottom: 1px solid var(--header-border-color);
}
.head-page {
    display: flex;
    justify-content: space-between;
}
.nav-page {
    display: flex;
    align-items: center;
}

/* Logo and nav menu */

.logo {
    padding: 25px 0;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-color);
    text-decoration: none;
    letter-spacing: 0.03em;
}
.web-style {
    color: var(--primary-color);
}
.nav-menu {
    margin: 0;
    padding: 32px 0;
    display: flex;
}
.nav-list {
    margin-right: 50px;
}
.nav-list:first-child {
    margin-left: 90px;
}
.nav-list:last-child {
    margin-right: 0;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--title-color);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.studio {
    color: var(--primary-color);
}

/* Contacts */

.contact-lists {
    margin: 0;
    padding: 32px 0;
    display: flex;
    align-items: center;
}
.contact-list {
    margin-left: 50px;
}
.contact-list:first-child {
    margin-left: 0;
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--primary-color);
}

/* Slider */

.slider-section {
    width: 1600px;
    height: 600px;
    background-color: var(--slider-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.page-title {
    margin: 0 0 40px 0;
    text-align: center;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--secondary-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.slider-btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.slider-btn:hover,
.slider-btn:focus {
    background-color: var(--btn-hover);
}

/* Feautures Section */

.features-title {
    display: none;
    visibility: hidden;
}
.features-lists {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.features-list {
    flex-basis: 270px;
}
.title {
    margin: 0 0 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-color);
    letter-spacing: 0.03em;
}
.name {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    color: var(--title-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.discribe {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}
.action-section {
    padding-bottom: 94px;
}
.action-lists {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.our-team-lists {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.team-item {
    background-color: var(--secondary-color);
}
.member-name {
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.first-member-box {
    padding: 30px 59px 30px 60px;
}
.second-member-box {
    padding: 30px 61px 30px 62px;
}
.third-member-box {
    padding: 30px 66px 30px 67px;
}
.four-member-box {
    padding: 30px 68px;
}
.team-section {
    padding-bottom: 94px;
    background-color: var(--cards-section-color);
}
.member-discribe {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.footer-page {
    height: 252px;
    padding: 60px 0;
    background-color: var(--slider-color);
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--secondary-color);
    text-decoration: none;
}
.company-adress {
    margin: 0 0 9px 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--address-color);
    text-decoration: none;
}
.address-link:hover,
.address-link:focus {
    color: var(--primary-color);
}
.contact-lists-footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.contact-item {
    margin-bottom: 9px;
}

